[submodule "cdif"]
	path = cdif
	url = git@github.com:aghoward/cdif.git
[submodule "argparsing"]
	path = argparsing
	url = git@github.com:aghoward/argparsing.git
[submodule "either"]
	path = either
	url = git@github.com:aghoward/either.git
[submodule "cryptopp-cmake"]
	path = cryptopp-cmake
	url = ssh://git@github.com/abdes/cryptopp-cmake.git
